@import '../library/bootstrap/scss/bootstrap';
@import '../library/bootstrap-icons/font/bootstrap-icons.min.css';

$primary: #262d34;
$secondary: #245563;

@keyframes timer-delete {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

body {
  background-color: $primary;
  color: white;
}

.top-bar {
  &>div {
    margin-top: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    display: flex;

    img {
      width: 60px;
      height: 60px;
    }
  }

  .wrap-path {
    p {
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    #path {}
  }
}

.top-action-all {
  margin-bottom: .3rem;

  .delete-section {
    margin-left: 1rem;
  }

  .confirm-delete-all {
    position: relative;

    .time-delete {
      position: absolute;
      bottom: 0;
      right: 0;
      // width: 100%;
      height: 4px;
      background-color: #ffe700;
      animation-name: timer-delete;
      animation-duration: 5s;
    }
  }
}

.controller-container {
  .play {
    font-size: 20px;
    cursor: pointer;
  }

  .stop {
    font-size: 20px;
    cursor: pointer;
  }

  .port {
    cursor: text;
    width: 60px;
    text-align: end;
    border: none;
    border-bottom: 1px solid;
    height: 20px;
    background-color: $primary;
    color: white;

    &:disabled {
      color: #6c757d;
      border-bottom: 1px solid #6c757d;
      cursor: not-allowed;
    }
  }

  .path {
    cursor: pointer;
    width: 400px;
    text-align: end;
    border: none;
    border-bottom: 1px solid;
    height: 20px;
    background-color: $primary;
    color: white;

    &:disabled {
      color: #6c757d;
      border-bottom: 1px solid #6c757d;
      cursor: not-allowed;
    }
  }

  #config {
    margin: 0;
    margin-right: 1rem;
  }

  .led {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #14681f;
    border: 1px solid #14681f;
    cursor: pointer;
    margin-right: 1rem;

    &-on {
      background-color: #29ea42;
      box-shadow: 0 0 12px #29ea42;
      border: 1px solid #29ea42;
    }
  }
}

.row-mock {
  &>div {
    display: grid;
    grid-template-columns: 50px 100fr auto;
    grid-template-rows: 1fr 1fr;
    position: relative;
    margin-bottom: 0.5rem;
    border: 1px solid #3b4e62;
    padding: 0.5rem;
    background-color: #2b3947;
    color: white;
    border-radius: 10px;

    @media (max-width: 1000px) {
      grid-template-columns: 50px 1fr auto;
      grid-template-rows: 1fr 1fr 1fr;
    }

    p {
      margin: 0;
    }

    .filename {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      margin-left: .5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .target-url {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      margin-left: .5rem;
    }

    .actions {
      grid-column: 3 / 4;
      grid-row: 1 / 3;

      @media (max-width: 1000px) {
        grid-column: 2 / 4;
        grid-row: 3 / 4;
        justify-content: flex-end;
      }

      display: flex;
      justify-content: center;
      align-items: center;

      .form-check-input:checked {
        background-color: #c30808;
        border-color: #d43f3f;
      }
    }

    .method {
      grid-column: 1 / 2;
      grid-row: 1 / 3;

      @media (max-width: 1000px) {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
      }

      border-radius: 5px;
      background-color: #ea2929;
      color: white;
      padding: 2px;
      font-size: 10px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;

      &-get {
        background-color: #0baa20;
      }

      &-post {
        background-color: #df9401;
      }

      &-put {
        background-color: #ea5b29;
      }

      &-patch {
        background-color: #89460c;
      }
    }

  }
}

.container-edit {
  .jsoneditor {
    border: 1px solid $primary;
    margin-bottom: 3rem;

    .jsoneditor-navigation-bar {
      color: white;
      background-color: $primary;
    }

    .jsoneditor-menu {
      background-color: $primary;
      border-bottom: 1px solid $primary;

      button {
        opacity: 1;
        color: white;
      }

      .jsoneditor-search {
        .jsoneditor-frame {
          background-color: $primary;

          input {
            background-color: $primary;
            color: white;
            border-bottom: 1px solid white;
          }
        }
      }
    }

    .jsoneditor-tree-inner {
      .jsoneditor-tree {
        .jsoneditor-field {
          color: #ff9d00;
        }

        .jsoneditor-value.jsoneditor-string {
          color: #5fd1ff !important;
        }

        .jsoneditor-value.jsoneditor-number {
          color: #fbf406;
        }
      }

      tbody {
        background-color: $primary;
      }
    }

    .jsoneditor-outer {
      background-color: $primary;

      .ace_editor {
        height: 85vh !important;
        max-height: calc(100vh - 180px);

        .ace_gutter {
          background-color: $primary;
          color: white;
        }
        .ace_gutter-active-line.ace_gutter-cell {
          background-color: #ff9d005c;
        }
        .ace_active-line {
          background-color: #ff9d005c;
        }

        .ace_line_group {
          .ace_line {
            color: #ffffff;

            .ace_variable {
              color: #ff9d00;
            }

            .ace_string {
              color: #5fd1ff;
            }

            .ace_parent {
              color: #ff9d00;
            }

            .ace_indent-guide {
              color: #ff9d00;
            }

            .ace_numeric {
              color: #fbf406;
            }
          }
        }

        .ace_scroller {
          background-color: $primary;
        }
      }
    }

    div.jsoneditor-field,
    div.jsoneditor-value,
    div.jsoneditor td,
    div.jsoneditor th,
    div.jsoneditor textarea,
    pre.jsoneditor-preview,
    .jsoneditor-schema-error,
    .jsoneditor-popover {
      color: white;
    }

    div.jsoneditor-field[contenteditable=true]:focus,
    div.jsoneditor-field[contenteditable=true]:hover,
    div.jsoneditor-value[contenteditable=true]:focus,
    div.jsoneditor-value[contenteditable=true]:hover,
    div.jsoneditor-field.jsoneditor-highlight,
    div.jsoneditor-value.jsoneditor-highlight {
      background-color: $primary;
      border: 1px solid #ffee00;
      border-radius: 2px;
    }

    div.jsoneditor-tree button.jsoneditor-collapsed {
      filter: brightness(100);

    }
    .jsoneditor-statusbar {
      background-color: $primary;
      color: white;
    }
  }

  .controller-json {
    .bi {
      cursor: pointer;
      font-size: 30px;
      margin-right: 1rem;
    }
  }
}

.row-config {
  margin-top: 2rem;

  .config-add {
    flex-direction: column;
    display: flex;
    justify-content: start;
    align-items: center;
  }
}

.path-history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .path {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    margin: .2rem 1rem;
    border-radius: 5px;

    &:hover {
      background-color: #3b4e62;
    }

    p {
      padding: .5rem;
      margin: 0;
    }
  }
}