<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles/jsoneditor.css">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/main.js"></script>
    <script src="/scripts/bootstrap.js"></script>
    <script src="/scripts/jsoneditor.js"></script>
    <title>{{title}}</title>
</head>

<body>
    {{{body}}}
</body>

</html>